html, body{
  margin: 0;
}

.gridcontainer{
  display: grid;
  grid-template-areas: 'header  header header'
                       'sidebar body   body'
                       'sidebar footer footer';
  grid-template-columns: 0.2fr 0.4fr 0.4fr;
  grid-template-rows: 70px 500px 50px;
}

.header{
  background: #5B6572;
  grid-area: header;
}

.body{
  background: #D6DFEB;
  grid-area: body;
}

.sidebar{
  background: #D6DFEB;
  grid-area: sidebar;
}

.footer{
  grid-area: footer;
  background: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.nav-item{
  margin: auto;
  font-family: 'Roboto', sans-serif;
}
.nav-item a{
  color: white;
}
a{
  text-decoration: none;
}
.side-list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.side-list-item{
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s ease color;
}
.side-list-item:hover{
  color: blue;
}
